@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  ont-family: 'Noto Sans', sans-serif;
  background: url('/global-chat/src/assets/Login_background.png') no-repeat center center;
  background-size: cover;
}